/* change the colors */
// $primary: rebeccapurple;

// @import 'bootstrap';


.fill {
  width: 100vw;
  height: 100vh;
}

.cover-img {
  height: 60%;
  object-fit: cover;
}

.circle {
  border-radius: 50%;
}

@for $i from 1 through 100 {
  .mtop-#{$i} {
    position: absolute !important;
    top: #{$i * 1%} !important;
  }
}

@for $i from 1 through 100 {
  .mleft-#{$i} {
    position: absolute !important;
    left: #{$i * 1%} !important;
  }
}

@for $i from 1 through 6 {
  .height-#{$i} {
    height: #{$i * 16,67%} !important;
  }
}

@for $i from 1 through 6 {
  .width-#{$i} {
    width: #{$i * 16,67%} !important;
  }
}

@for $i from 1 through 6 {
  .circle-#{$i} {
    width: #{$i * 130px} !important;
    height: #{$i * 130px} !important;
  }
}

@for $i from 1 through 6 {
  .square-#{$i} {
    width: #{$i * 200px} !important;
    height: #{$i * 200px} !important;
  }
}

.image-fixed {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@for $i from 1 through 100  {
  .height-slider-#{$i} {
    height: #{$i * 1%} ;
  }
}

@for $i from 1 through 100 {
  .width-slider-#{$i} {
    width: #{$i * 1%} !important;
  }
}

@for $i from 1 through 1000  {
  .left-slider-#{$i}px {
    position: absolute;
    left: #{$i * 1px};
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-center {
  left: 0;
  right: 0;
  margin: auto;
}