/* change the colors */
.fill {
    width: 100vw;
    height: 100vh;
}
.cover-img {
    height: 60%;
    object-fit: cover;
}
.circle {
    border-radius: 50%;
}
.mtop-1 {
    position: absolute !important;
    top: 1% !important;
}
.mtop-2 {
    position: absolute !important;
    top: 2% !important;
}
.mtop-3 {
    position: absolute !important;
    top: 3% !important;
}
.mtop-4 {
    position: absolute !important;
    top: 4% !important;
}
.mtop-5 {
    position: absolute !important;
    top: 5% !important;
}
.mtop-6 {
    position: absolute !important;
    top: 6% !important;
}
.mtop-7 {
    position: absolute !important;
    top: 7% !important;
}
.mtop-8 {
    position: absolute !important;
    top: 8% !important;
}
.mtop-9 {
    position: absolute !important;
    top: 9% !important;
}
.mtop-10 {
    position: absolute !important;
    top: 10% !important;
}
.mtop-11 {
    position: absolute !important;
    top: 11% !important;
}
.mtop-12 {
    position: absolute !important;
    top: 12% !important;
}
.mtop-13 {
    position: absolute !important;
    top: 13% !important;
}
.mtop-14 {
    position: absolute !important;
    top: 14% !important;
}
.mtop-15 {
    position: absolute !important;
    top: 15% !important;
}
.mtop-16 {
    position: absolute !important;
    top: 16% !important;
}
.mtop-17 {
    position: absolute !important;
    top: 17% !important;
}
.mtop-18 {
    position: absolute !important;
    top: 18% !important;
}
.mtop-19 {
    position: absolute !important;
    top: 19% !important;
}
.mtop-20 {
    position: absolute !important;
    top: 20% !important;
}
.mtop-21 {
    position: absolute !important;
    top: 21% !important;
}
.mtop-22 {
    position: absolute !important;
    top: 22% !important;
}
.mtop-23 {
    position: absolute !important;
    top: 23% !important;
}
.mtop-24 {
    position: absolute !important;
    top: 24% !important;
}
.mtop-25 {
    position: absolute !important;
    top: 25% !important;
}
.mtop-26 {
    position: absolute !important;
    top: 26% !important;
}
.mtop-27 {
    position: absolute !important;
    top: 27% !important;
}
.mtop-28 {
    position: absolute !important;
    top: 28% !important;
}
.mtop-29 {
    position: absolute !important;
    top: 29% !important;
}
.mtop-30 {
    position: absolute !important;
    top: 30% !important;
}
.mtop-31 {
    position: absolute !important;
    top: 31% !important;
}
.mtop-32 {
    position: absolute !important;
    top: 32% !important;
}
.mtop-33 {
    position: absolute !important;
    top: 33% !important;
}
.mtop-34 {
    position: absolute !important;
    top: 34% !important;
}
.mtop-35 {
    position: absolute !important;
    top: 35% !important;
}
.mtop-36 {
    position: absolute !important;
    top: 36% !important;
}
.mtop-37 {
    position: absolute !important;
    top: 37% !important;
}
.mtop-38 {
    position: absolute !important;
    top: 38% !important;
}
.mtop-39 {
    position: absolute !important;
    top: 39% !important;
}
.mtop-40 {
    position: absolute !important;
    top: 40% !important;
}
.mtop-41 {
    position: absolute !important;
    top: 41% !important;
}
.mtop-42 {
    position: absolute !important;
    top: 42% !important;
}
.mtop-43 {
    position: absolute !important;
    top: 43% !important;
}
.mtop-44 {
    position: absolute !important;
    top: 44% !important;
}
.mtop-45 {
    position: absolute !important;
    top: 45% !important;
}
.mtop-46 {
    position: absolute !important;
    top: 46% !important;
}
.mtop-47 {
    position: absolute !important;
    top: 47% !important;
}
.mtop-48 {
    position: absolute !important;
    top: 48% !important;
}
.mtop-49 {
    position: absolute !important;
    top: 49% !important;
}
.mtop-50 {
    position: absolute !important;
    top: 50% !important;
}
.mtop-51 {
    position: absolute !important;
    top: 51% !important;
}
.mtop-52 {
    position: absolute !important;
    top: 52% !important;
}
.mtop-53 {
    position: absolute !important;
    top: 53% !important;
}
.mtop-54 {
    position: absolute !important;
    top: 54% !important;
}
.mtop-55 {
    position: absolute !important;
    top: 55% !important;
}
.mtop-56 {
    position: absolute !important;
    top: 56% !important;
}
.mtop-57 {
    position: absolute !important;
    top: 57% !important;
}
.mtop-58 {
    position: absolute !important;
    top: 58% !important;
}
.mtop-59 {
    position: absolute !important;
    top: 59% !important;
}
.mtop-60 {
    position: absolute !important;
    top: 60% !important;
}
.mtop-61 {
    position: absolute !important;
    top: 61% !important;
}
.mtop-62 {
    position: absolute !important;
    top: 62% !important;
}
.mtop-63 {
    position: absolute !important;
    top: 63% !important;
}
.mtop-64 {
    position: absolute !important;
    top: 64% !important;
}
.mtop-65 {
    position: absolute !important;
    top: 65% !important;
}
.mtop-66 {
    position: absolute !important;
    top: 66% !important;
}
.mtop-67 {
    position: absolute !important;
    top: 67% !important;
}
.mtop-68 {
    position: absolute !important;
    top: 68% !important;
}
.mtop-69 {
    position: absolute !important;
    top: 69% !important;
}
.mtop-70 {
    position: absolute !important;
    top: 70% !important;
}
.mtop-71 {
    position: absolute !important;
    top: 71% !important;
}
.mtop-72 {
    position: absolute !important;
    top: 72% !important;
}
.mtop-73 {
    position: absolute !important;
    top: 73% !important;
}
.mtop-74 {
    position: absolute !important;
    top: 74% !important;
}
.mtop-75 {
    position: absolute !important;
    top: 75% !important;
}
.mtop-76 {
    position: absolute !important;
    top: 76% !important;
}
.mtop-77 {
    position: absolute !important;
    top: 77% !important;
}
.mtop-78 {
    position: absolute !important;
    top: 78% !important;
}
.mtop-79 {
    position: absolute !important;
    top: 79% !important;
}
.mtop-80 {
    position: absolute !important;
    top: 80% !important;
}
.mtop-81 {
    position: absolute !important;
    top: 81% !important;
}
.mtop-82 {
    position: absolute !important;
    top: 82% !important;
}
.mtop-83 {
    position: absolute !important;
    top: 83% !important;
}
.mtop-84 {
    position: absolute !important;
    top: 84% !important;
}
.mtop-85 {
    position: absolute !important;
    top: 85% !important;
}
.mtop-86 {
    position: absolute !important;
    top: 86% !important;
}
.mtop-87 {
    position: absolute !important;
    top: 87% !important;
}
.mtop-88 {
    position: absolute !important;
    top: 88% !important;
}
.mtop-89 {
    position: absolute !important;
    top: 89% !important;
}
.mtop-90 {
    position: absolute !important;
    top: 90% !important;
}
.mtop-91 {
    position: absolute !important;
    top: 91% !important;
}
.mtop-92 {
    position: absolute !important;
    top: 92% !important;
}
.mtop-93 {
    position: absolute !important;
    top: 93% !important;
}
.mtop-94 {
    position: absolute !important;
    top: 94% !important;
}
.mtop-95 {
    position: absolute !important;
    top: 95% !important;
}
.mtop-96 {
    position: absolute !important;
    top: 96% !important;
}
.mtop-97 {
    position: absolute !important;
    top: 97% !important;
}
.mtop-98 {
    position: absolute !important;
    top: 98% !important;
}
.mtop-99 {
    position: absolute !important;
    top: 99% !important;
}
.mtop-100 {
    position: absolute !important;
    top: 100% !important;
}
.mleft-1 {
    position: absolute !important;
    left: 1% !important;
}
.mleft-2 {
    position: absolute !important;
    left: 2% !important;
}
.mleft-3 {
    position: absolute !important;
    left: 3% !important;
}
.mleft-4 {
    position: absolute !important;
    left: 4% !important;
}
.mleft-5 {
    position: absolute !important;
    left: 5% !important;
}
.mleft-6 {
    position: absolute !important;
    left: 6% !important;
}
.mleft-7 {
    position: absolute !important;
    left: 7% !important;
}
.mleft-8 {
    position: absolute !important;
    left: 8% !important;
}
.mleft-9 {
    position: absolute !important;
    left: 9% !important;
}
.mleft-10 {
    position: absolute !important;
    left: 10% !important;
}
.mleft-11 {
    position: absolute !important;
    left: 11% !important;
}
.mleft-12 {
    position: absolute !important;
    left: 12% !important;
}
.mleft-13 {
    position: absolute !important;
    left: 13% !important;
}
.mleft-14 {
    position: absolute !important;
    left: 14% !important;
}
.mleft-15 {
    position: absolute !important;
    left: 15% !important;
}
.mleft-16 {
    position: absolute !important;
    left: 16% !important;
}
.mleft-17 {
    position: absolute !important;
    left: 17% !important;
}
.mleft-18 {
    position: absolute !important;
    left: 18% !important;
}
.mleft-19 {
    position: absolute !important;
    left: 19% !important;
}
.mleft-20 {
    position: absolute !important;
    left: 20% !important;
}
.mleft-21 {
    position: absolute !important;
    left: 21% !important;
}
.mleft-22 {
    position: absolute !important;
    left: 22% !important;
}
.mleft-23 {
    position: absolute !important;
    left: 23% !important;
}
.mleft-24 {
    position: absolute !important;
    left: 24% !important;
}
.mleft-25 {
    position: absolute !important;
    left: 25% !important;
}
.mleft-26 {
    position: absolute !important;
    left: 26% !important;
}
.mleft-27 {
    position: absolute !important;
    left: 27% !important;
}
.mleft-28 {
    position: absolute !important;
    left: 28% !important;
}
.mleft-29 {
    position: absolute !important;
    left: 29% !important;
}
.mleft-30 {
    position: absolute !important;
    left: 30% !important;
}
.mleft-31 {
    position: absolute !important;
    left: 31% !important;
}
.mleft-32 {
    position: absolute !important;
    left: 32% !important;
}
.mleft-33 {
    position: absolute !important;
    left: 33% !important;
}
.mleft-34 {
    position: absolute !important;
    left: 34% !important;
}
.mleft-35 {
    position: absolute !important;
    left: 35% !important;
}
.mleft-36 {
    position: absolute !important;
    left: 36% !important;
}
.mleft-37 {
    position: absolute !important;
    left: 37% !important;
}
.mleft-38 {
    position: absolute !important;
    left: 38% !important;
}
.mleft-39 {
    position: absolute !important;
    left: 39% !important;
}
.mleft-40 {
    position: absolute !important;
    left: 40% !important;
}
.mleft-41 {
    position: absolute !important;
    left: 41% !important;
}
.mleft-42 {
    position: absolute !important;
    left: 42% !important;
}
.mleft-43 {
    position: absolute !important;
    left: 43% !important;
}
.mleft-44 {
    position: absolute !important;
    left: 44% !important;
}
.mleft-45 {
    position: absolute !important;
    left: 45% !important;
}
.mleft-46 {
    position: absolute !important;
    left: 46% !important;
}
.mleft-47 {
    position: absolute !important;
    left: 47% !important;
}
.mleft-48 {
    position: absolute !important;
    left: 48% !important;
}
.mleft-49 {
    position: absolute !important;
    left: 49% !important;
}
.mleft-50 {
    position: absolute !important;
    left: 50% !important;
}
.mleft-51 {
    position: absolute !important;
    left: 51% !important;
}
.mleft-52 {
    position: absolute !important;
    left: 52% !important;
}
.mleft-53 {
    position: absolute !important;
    left: 53% !important;
}
.mleft-54 {
    position: absolute !important;
    left: 54% !important;
}
.mleft-55 {
    position: absolute !important;
    left: 55% !important;
}
.mleft-56 {
    position: absolute !important;
    left: 56% !important;
}
.mleft-57 {
    position: absolute !important;
    left: 57% !important;
}
.mleft-58 {
    position: absolute !important;
    left: 58% !important;
}
.mleft-59 {
    position: absolute !important;
    left: 59% !important;
}
.mleft-60 {
    position: absolute !important;
    left: 60% !important;
}
.mleft-61 {
    position: absolute !important;
    left: 61% !important;
}
.mleft-62 {
    position: absolute !important;
    left: 62% !important;
}
.mleft-63 {
    position: absolute !important;
    left: 63% !important;
}
.mleft-64 {
    position: absolute !important;
    left: 64% !important;
}
.mleft-65 {
    position: absolute !important;
    left: 65% !important;
}
.mleft-66 {
    position: absolute !important;
    left: 66% !important;
}
.mleft-67 {
    position: absolute !important;
    left: 67% !important;
}
.mleft-68 {
    position: absolute !important;
    left: 68% !important;
}
.mleft-69 {
    position: absolute !important;
    left: 69% !important;
}
.mleft-70 {
    position: absolute !important;
    left: 70% !important;
}
.mleft-71 {
    position: absolute !important;
    left: 71% !important;
}
.mleft-72 {
    position: absolute !important;
    left: 72% !important;
}
.mleft-73 {
    position: absolute !important;
    left: 73% !important;
}
.mleft-74 {
    position: absolute !important;
    left: 74% !important;
}
.mleft-75 {
    position: absolute !important;
    left: 75% !important;
}
.mleft-76 {
    position: absolute !important;
    left: 76% !important;
}
.mleft-77 {
    position: absolute !important;
    left: 77% !important;
}
.mleft-78 {
    position: absolute !important;
    left: 78% !important;
}
.mleft-79 {
    position: absolute !important;
    left: 79% !important;
}
.mleft-80 {
    position: absolute !important;
    left: 80% !important;
}
.mleft-81 {
    position: absolute !important;
    left: 81% !important;
}
.mleft-82 {
    position: absolute !important;
    left: 82% !important;
}
.mleft-83 {
    position: absolute !important;
    left: 83% !important;
}
.mleft-84 {
    position: absolute !important;
    left: 84% !important;
}
.mleft-85 {
    position: absolute !important;
    left: 85% !important;
}
.mleft-86 {
    position: absolute !important;
    left: 86% !important;
}
.mleft-87 {
    position: absolute !important;
    left: 87% !important;
}
.mleft-88 {
    position: absolute !important;
    left: 88% !important;
}
.mleft-89 {
    position: absolute !important;
    left: 89% !important;
}
.mleft-90 {
    position: absolute !important;
    left: 90% !important;
}
.mleft-91 {
    position: absolute !important;
    left: 91% !important;
}
.mleft-92 {
    position: absolute !important;
    left: 92% !important;
}
.mleft-93 {
    position: absolute !important;
    left: 93% !important;
}
.mleft-94 {
    position: absolute !important;
    left: 94% !important;
}
.mleft-95 {
    position: absolute !important;
    left: 95% !important;
}
.mleft-96 {
    position: absolute !important;
    left: 96% !important;
}
.mleft-97 {
    position: absolute !important;
    left: 97% !important;
}
.mleft-98 {
    position: absolute !important;
    left: 98% !important;
}
.mleft-99 {
    position: absolute !important;
    left: 99% !important;
}
.mleft-100 {
    position: absolute !important;
    left: 100% !important;
}
.height-1 {
    height: 16, 67% !important;
}
.height-2 {
    height: 32, 67% !important;
}
.height-3 {
    height: 48, 67% !important;
}
.height-4 {
    height: 64, 67% !important;
}
.height-5 {
    height: 80, 67% !important;
}
.height-6 {
    height: 96, 67% !important;
}
.width-1 {
    width: 16, 67% !important;
}
.width-2 {
    width: 32, 67% !important;
}
.width-3 {
    width: 48, 67% !important;
}
.width-4 {
    width: 64, 67% !important;
}
.width-5 {
    width: 80, 67% !important;
}
.width-6 {
    width: 96, 67% !important;
}
.circle-1 {
    width: 130px !important;
    height: 130px !important;
}
.circle-2 {
    width: 260px !important;
    height: 260px !important;
}
.circle-3 {
    width: 390px !important;
    height: 390px !important;
}
.circle-4 {
    width: 520px !important;
    height: 520px !important;
}
.circle-5 {
    width: 650px !important;
    height: 650px !important;
}
.circle-6 {
    width: 780px !important;
    height: 780px !important;
}
.square-1 {
    width: 200px !important;
    height: 200px !important;
}
.square-2 {
    width: 400px !important;
    height: 400px !important;
}
.square-3 {
    width: 600px !important;
    height: 600px !important;
}
.square-4 {
    width: 800px !important;
    height: 800px !important;
}
.square-5 {
    width: 1000px !important;
    height: 1000px !important;
}
.square-6 {
    width: 1200px !important;
    height: 1200px !important;
}
.image-fixed {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.height-slider-1 {
    height: 1%;
}
.height-slider-2 {
    height: 2%;
}
.height-slider-3 {
    height: 3%;
}
.height-slider-4 {
    height: 4%;
}
.height-slider-5 {
    height: 5%;
}
.height-slider-6 {
    height: 6%;
}
.height-slider-7 {
    height: 7%;
}
.height-slider-8 {
    height: 8%;
}
.height-slider-9 {
    height: 9%;
}
.height-slider-10 {
    height: 10%;
}
.height-slider-11 {
    height: 11%;
}
.height-slider-12 {
    height: 12%;
}
.height-slider-13 {
    height: 13%;
}
.height-slider-14 {
    height: 14%;
}
.height-slider-15 {
    height: 15%;
}
.height-slider-16 {
    height: 16%;
}
.height-slider-17 {
    height: 17%;
}
.height-slider-18 {
    height: 18%;
}
.height-slider-19 {
    height: 19%;
}
.height-slider-20 {
    height: 20%;
}
.height-slider-21 {
    height: 21%;
}
.height-slider-22 {
    height: 22%;
}
.height-slider-23 {
    height: 23%;
}
.height-slider-24 {
    height: 24%;
}
.height-slider-25 {
    height: 25%;
}
.height-slider-26 {
    height: 26%;
}
.height-slider-27 {
    height: 27%;
}
.height-slider-28 {
    height: 28%;
}
.height-slider-29 {
    height: 29%;
}
.height-slider-30 {
    height: 30%;
}
.height-slider-31 {
    height: 31%;
}
.height-slider-32 {
    height: 32%;
}
.height-slider-33 {
    height: 33%;
}
.height-slider-34 {
    height: 34%;
}
.height-slider-35 {
    height: 35%;
}
.height-slider-36 {
    height: 36%;
}
.height-slider-37 {
    height: 37%;
}
.height-slider-38 {
    height: 38%;
}
.height-slider-39 {
    height: 39%;
}
.height-slider-40 {
    height: 40%;
}
.height-slider-41 {
    height: 41%;
}
.height-slider-42 {
    height: 42%;
}
.height-slider-43 {
    height: 43%;
}
.height-slider-44 {
    height: 44%;
}
.height-slider-45 {
    height: 45%;
}
.height-slider-46 {
    height: 46%;
}
.height-slider-47 {
    height: 47%;
}
.height-slider-48 {
    height: 48%;
}
.height-slider-49 {
    height: 49%;
}
.height-slider-50 {
    height: 50%;
}
.height-slider-51 {
    height: 51%;
}
.height-slider-52 {
    height: 52%;
}
.height-slider-53 {
    height: 53%;
}
.height-slider-54 {
    height: 54%;
}
.height-slider-55 {
    height: 55%;
}
.height-slider-56 {
    height: 56%;
}
.height-slider-57 {
    height: 57%;
}
.height-slider-58 {
    height: 58%;
}
.height-slider-59 {
    height: 59%;
}
.height-slider-60 {
    height: 60%;
}
.height-slider-61 {
    height: 61%;
}
.height-slider-62 {
    height: 62%;
}
.height-slider-63 {
    height: 63%;
}
.height-slider-64 {
    height: 64%;
}
.height-slider-65 {
    height: 65%;
}
.height-slider-66 {
    height: 66%;
}
.height-slider-67 {
    height: 67%;
}
.height-slider-68 {
    height: 68%;
}
.height-slider-69 {
    height: 69%;
}
.height-slider-70 {
    height: 70%;
}
.height-slider-71 {
    height: 71%;
}
.height-slider-72 {
    height: 72%;
}
.height-slider-73 {
    height: 73%;
}
.height-slider-74 {
    height: 74%;
}
.height-slider-75 {
    height: 75%;
}
.height-slider-76 {
    height: 76%;
}
.height-slider-77 {
    height: 77%;
}
.height-slider-78 {
    height: 78%;
}
.height-slider-79 {
    height: 79%;
}
.height-slider-80 {
    height: 80%;
}
.height-slider-81 {
    height: 81%;
}
.height-slider-82 {
    height: 82%;
}
.height-slider-83 {
    height: 83%;
}
.height-slider-84 {
    height: 84%;
}
.height-slider-85 {
    height: 85%;
}
.height-slider-86 {
    height: 86%;
}
.height-slider-87 {
    height: 87%;
}
.height-slider-88 {
    height: 88%;
}
.height-slider-89 {
    height: 89%;
}
.height-slider-90 {
    height: 90%;
}
.height-slider-91 {
    height: 91%;
}
.height-slider-92 {
    height: 92%;
}
.height-slider-93 {
    height: 93%;
}
.height-slider-94 {
    height: 94%;
}
.height-slider-95 {
    height: 95%;
}
.height-slider-96 {
    height: 96%;
}
.height-slider-97 {
    height: 97%;
}
.height-slider-98 {
    height: 98%;
}
.height-slider-99 {
    height: 99%;
}
.height-slider-100 {
    height: 100%;
}
.width-slider-1 {
    width: 1% !important;
}
.width-slider-2 {
    width: 2% !important;
}
.width-slider-3 {
    width: 3% !important;
}
.width-slider-4 {
    width: 4% !important;
}
.width-slider-5 {
    width: 5% !important;
}
.width-slider-6 {
    width: 6% !important;
}
.width-slider-7 {
    width: 7% !important;
}
.width-slider-8 {
    width: 8% !important;
}
.width-slider-9 {
    width: 9% !important;
}
.width-slider-10 {
    width: 10% !important;
}
.width-slider-11 {
    width: 11% !important;
}
.width-slider-12 {
    width: 12% !important;
}
.width-slider-13 {
    width: 13% !important;
}
.width-slider-14 {
    width: 14% !important;
}
.width-slider-15 {
    width: 15% !important;
}
.width-slider-16 {
    width: 16% !important;
}
.width-slider-17 {
    width: 17% !important;
}
.width-slider-18 {
    width: 18% !important;
}
.width-slider-19 {
    width: 19% !important;
}
.width-slider-20 {
    width: 20% !important;
}
.width-slider-21 {
    width: 21% !important;
}
.width-slider-22 {
    width: 22% !important;
}
.width-slider-23 {
    width: 23% !important;
}
.width-slider-24 {
    width: 24% !important;
}
.width-slider-25 {
    width: 25% !important;
}
.width-slider-26 {
    width: 26% !important;
}
.width-slider-27 {
    width: 27% !important;
}
.width-slider-28 {
    width: 28% !important;
}
.width-slider-29 {
    width: 29% !important;
}
.width-slider-30 {
    width: 30% !important;
}
.width-slider-31 {
    width: 31% !important;
}
.width-slider-32 {
    width: 32% !important;
}
.width-slider-33 {
    width: 33% !important;
}
.width-slider-34 {
    width: 34% !important;
}
.width-slider-35 {
    width: 35% !important;
}
.width-slider-36 {
    width: 36% !important;
}
.width-slider-37 {
    width: 37% !important;
}
.width-slider-38 {
    width: 38% !important;
}
.width-slider-39 {
    width: 39% !important;
}
.width-slider-40 {
    width: 40% !important;
}
.width-slider-41 {
    width: 41% !important;
}
.width-slider-42 {
    width: 42% !important;
}
.width-slider-43 {
    width: 43% !important;
}
.width-slider-44 {
    width: 44% !important;
}
.width-slider-45 {
    width: 45% !important;
}
.width-slider-46 {
    width: 46% !important;
}
.width-slider-47 {
    width: 47% !important;
}
.width-slider-48 {
    width: 48% !important;
}
.width-slider-49 {
    width: 49% !important;
}
.width-slider-50 {
    width: 50% !important;
}
.width-slider-51 {
    width: 51% !important;
}
.width-slider-52 {
    width: 52% !important;
}
.width-slider-53 {
    width: 53% !important;
}
.width-slider-54 {
    width: 54% !important;
}
.width-slider-55 {
    width: 55% !important;
}
.width-slider-56 {
    width: 56% !important;
}
.width-slider-57 {
    width: 57% !important;
}
.width-slider-58 {
    width: 58% !important;
}
.width-slider-59 {
    width: 59% !important;
}
.width-slider-60 {
    width: 60% !important;
}
.width-slider-61 {
    width: 61% !important;
}
.width-slider-62 {
    width: 62% !important;
}
.width-slider-63 {
    width: 63% !important;
}
.width-slider-64 {
    width: 64% !important;
}
.width-slider-65 {
    width: 65% !important;
}
.width-slider-66 {
    width: 66% !important;
}
.width-slider-67 {
    width: 67% !important;
}
.width-slider-68 {
    width: 68% !important;
}
.width-slider-69 {
    width: 69% !important;
}
.width-slider-70 {
    width: 70% !important;
}
.width-slider-71 {
    width: 71% !important;
}
.width-slider-72 {
    width: 72% !important;
}
.width-slider-73 {
    width: 73% !important;
}
.width-slider-74 {
    width: 74% !important;
}
.width-slider-75 {
    width: 75% !important;
}
.width-slider-76 {
    width: 76% !important;
}
.width-slider-77 {
    width: 77% !important;
}
.width-slider-78 {
    width: 78% !important;
}
.width-slider-79 {
    width: 79% !important;
}
.width-slider-80 {
    width: 80% !important;
}
.width-slider-81 {
    width: 81% !important;
}
.width-slider-82 {
    width: 82% !important;
}
.width-slider-83 {
    width: 83% !important;
}
.width-slider-84 {
    width: 84% !important;
}
.width-slider-85 {
    width: 85% !important;
}
.width-slider-86 {
    width: 86% !important;
}
.width-slider-87 {
    width: 87% !important;
}
.width-slider-88 {
    width: 88% !important;
}
.width-slider-89 {
    width: 89% !important;
}
.width-slider-90 {
    width: 90% !important;
}
.width-slider-91 {
    width: 91% !important;
}
.width-slider-92 {
    width: 92% !important;
}
.width-slider-93 {
    width: 93% !important;
}
.width-slider-94 {
    width: 94% !important;
}
.width-slider-95 {
    width: 95% !important;
}
.width-slider-96 {
    width: 96% !important;
}
.width-slider-97 {
    width: 97% !important;
}
.width-slider-98 {
    width: 98% !important;
}
.width-slider-99 {
    width: 99% !important;
}
.width-slider-100 {
    width: 100% !important;
}
.left-slider-1px {
    position: absolute;
    left: 1px;
}
.left-slider-2px {
    position: absolute;
    left: 2px;
}
.left-slider-3px {
    position: absolute;
    left: 3px;
}
.left-slider-4px {
    position: absolute;
    left: 4px;
}
.left-slider-5px {
    position: absolute;
    left: 5px;
}
.left-slider-6px {
    position: absolute;
    left: 6px;
}
.left-slider-7px {
    position: absolute;
    left: 7px;
}
.left-slider-8px {
    position: absolute;
    left: 8px;
}
.left-slider-9px {
    position: absolute;
    left: 9px;
}
.left-slider-10px {
    position: absolute;
    left: 10px;
}
.left-slider-11px {
    position: absolute;
    left: 11px;
}
.left-slider-12px {
    position: absolute;
    left: 12px;
}
.left-slider-13px {
    position: absolute;
    left: 13px;
}
.left-slider-14px {
    position: absolute;
    left: 14px;
}
.left-slider-15px {
    position: absolute;
    left: 15px;
}
.left-slider-16px {
    position: absolute;
    left: 16px;
}
.left-slider-17px {
    position: absolute;
    left: 17px;
}
.left-slider-18px {
    position: absolute;
    left: 18px;
}
.left-slider-19px {
    position: absolute;
    left: 19px;
}
.left-slider-20px {
    position: absolute;
    left: 20px;
}
.left-slider-21px {
    position: absolute;
    left: 21px;
}
.left-slider-22px {
    position: absolute;
    left: 22px;
}
.left-slider-23px {
    position: absolute;
    left: 23px;
}
.left-slider-24px {
    position: absolute;
    left: 24px;
}
.left-slider-25px {
    position: absolute;
    left: 25px;
}
.left-slider-26px {
    position: absolute;
    left: 26px;
}
.left-slider-27px {
    position: absolute;
    left: 27px;
}
.left-slider-28px {
    position: absolute;
    left: 28px;
}
.left-slider-29px {
    position: absolute;
    left: 29px;
}
.left-slider-30px {
    position: absolute;
    left: 30px;
}
.left-slider-31px {
    position: absolute;
    left: 31px;
}
.left-slider-32px {
    position: absolute;
    left: 32px;
}
.left-slider-33px {
    position: absolute;
    left: 33px;
}
.left-slider-34px {
    position: absolute;
    left: 34px;
}
.left-slider-35px {
    position: absolute;
    left: 35px;
}
.left-slider-36px {
    position: absolute;
    left: 36px;
}
.left-slider-37px {
    position: absolute;
    left: 37px;
}
.left-slider-38px {
    position: absolute;
    left: 38px;
}
.left-slider-39px {
    position: absolute;
    left: 39px;
}
.left-slider-40px {
    position: absolute;
    left: 40px;
}
.left-slider-41px {
    position: absolute;
    left: 41px;
}
.left-slider-42px {
    position: absolute;
    left: 42px;
}
.left-slider-43px {
    position: absolute;
    left: 43px;
}
.left-slider-44px {
    position: absolute;
    left: 44px;
}
.left-slider-45px {
    position: absolute;
    left: 45px;
}
.left-slider-46px {
    position: absolute;
    left: 46px;
}
.left-slider-47px {
    position: absolute;
    left: 47px;
}
.left-slider-48px {
    position: absolute;
    left: 48px;
}
.left-slider-49px {
    position: absolute;
    left: 49px;
}
.left-slider-50px {
    position: absolute;
    left: 50px;
}
.left-slider-51px {
    position: absolute;
    left: 51px;
}
.left-slider-52px {
    position: absolute;
    left: 52px;
}
.left-slider-53px {
    position: absolute;
    left: 53px;
}
.left-slider-54px {
    position: absolute;
    left: 54px;
}
.left-slider-55px {
    position: absolute;
    left: 55px;
}
.left-slider-56px {
    position: absolute;
    left: 56px;
}
.left-slider-57px {
    position: absolute;
    left: 57px;
}
.left-slider-58px {
    position: absolute;
    left: 58px;
}
.left-slider-59px {
    position: absolute;
    left: 59px;
}
.left-slider-60px {
    position: absolute;
    left: 60px;
}
.left-slider-61px {
    position: absolute;
    left: 61px;
}
.left-slider-62px {
    position: absolute;
    left: 62px;
}
.left-slider-63px {
    position: absolute;
    left: 63px;
}
.left-slider-64px {
    position: absolute;
    left: 64px;
}
.left-slider-65px {
    position: absolute;
    left: 65px;
}
.left-slider-66px {
    position: absolute;
    left: 66px;
}
.left-slider-67px {
    position: absolute;
    left: 67px;
}
.left-slider-68px {
    position: absolute;
    left: 68px;
}
.left-slider-69px {
    position: absolute;
    left: 69px;
}
.left-slider-70px {
    position: absolute;
    left: 70px;
}
.left-slider-71px {
    position: absolute;
    left: 71px;
}
.left-slider-72px {
    position: absolute;
    left: 72px;
}
.left-slider-73px {
    position: absolute;
    left: 73px;
}
.left-slider-74px {
    position: absolute;
    left: 74px;
}
.left-slider-75px {
    position: absolute;
    left: 75px;
}
.left-slider-76px {
    position: absolute;
    left: 76px;
}
.left-slider-77px {
    position: absolute;
    left: 77px;
}
.left-slider-78px {
    position: absolute;
    left: 78px;
}
.left-slider-79px {
    position: absolute;
    left: 79px;
}
.left-slider-80px {
    position: absolute;
    left: 80px;
}
.left-slider-81px {
    position: absolute;
    left: 81px;
}
.left-slider-82px {
    position: absolute;
    left: 82px;
}
.left-slider-83px {
    position: absolute;
    left: 83px;
}
.left-slider-84px {
    position: absolute;
    left: 84px;
}
.left-slider-85px {
    position: absolute;
    left: 85px;
}
.left-slider-86px {
    position: absolute;
    left: 86px;
}
.left-slider-87px {
    position: absolute;
    left: 87px;
}
.left-slider-88px {
    position: absolute;
    left: 88px;
}
.left-slider-89px {
    position: absolute;
    left: 89px;
}
.left-slider-90px {
    position: absolute;
    left: 90px;
}
.left-slider-91px {
    position: absolute;
    left: 91px;
}
.left-slider-92px {
    position: absolute;
    left: 92px;
}
.left-slider-93px {
    position: absolute;
    left: 93px;
}
.left-slider-94px {
    position: absolute;
    left: 94px;
}
.left-slider-95px {
    position: absolute;
    left: 95px;
}
.left-slider-96px {
    position: absolute;
    left: 96px;
}
.left-slider-97px {
    position: absolute;
    left: 97px;
}
.left-slider-98px {
    position: absolute;
    left: 98px;
}
.left-slider-99px {
    position: absolute;
    left: 99px;
}
.left-slider-100px {
    position: absolute;
    left: 100px;
}
.left-slider-101px {
    position: absolute;
    left: 101px;
}
.left-slider-102px {
    position: absolute;
    left: 102px;
}
.left-slider-103px {
    position: absolute;
    left: 103px;
}
.left-slider-104px {
    position: absolute;
    left: 104px;
}
.left-slider-105px {
    position: absolute;
    left: 105px;
}
.left-slider-106px {
    position: absolute;
    left: 106px;
}
.left-slider-107px {
    position: absolute;
    left: 107px;
}
.left-slider-108px {
    position: absolute;
    left: 108px;
}
.left-slider-109px {
    position: absolute;
    left: 109px;
}
.left-slider-110px {
    position: absolute;
    left: 110px;
}
.left-slider-111px {
    position: absolute;
    left: 111px;
}
.left-slider-112px {
    position: absolute;
    left: 112px;
}
.left-slider-113px {
    position: absolute;
    left: 113px;
}
.left-slider-114px {
    position: absolute;
    left: 114px;
}
.left-slider-115px {
    position: absolute;
    left: 115px;
}
.left-slider-116px {
    position: absolute;
    left: 116px;
}
.left-slider-117px {
    position: absolute;
    left: 117px;
}
.left-slider-118px {
    position: absolute;
    left: 118px;
}
.left-slider-119px {
    position: absolute;
    left: 119px;
}
.left-slider-120px {
    position: absolute;
    left: 120px;
}
.left-slider-121px {
    position: absolute;
    left: 121px;
}
.left-slider-122px {
    position: absolute;
    left: 122px;
}
.left-slider-123px {
    position: absolute;
    left: 123px;
}
.left-slider-124px {
    position: absolute;
    left: 124px;
}
.left-slider-125px {
    position: absolute;
    left: 125px;
}
.left-slider-126px {
    position: absolute;
    left: 126px;
}
.left-slider-127px {
    position: absolute;
    left: 127px;
}
.left-slider-128px {
    position: absolute;
    left: 128px;
}
.left-slider-129px {
    position: absolute;
    left: 129px;
}
.left-slider-130px {
    position: absolute;
    left: 130px;
}
.left-slider-131px {
    position: absolute;
    left: 131px;
}
.left-slider-132px {
    position: absolute;
    left: 132px;
}
.left-slider-133px {
    position: absolute;
    left: 133px;
}
.left-slider-134px {
    position: absolute;
    left: 134px;
}
.left-slider-135px {
    position: absolute;
    left: 135px;
}
.left-slider-136px {
    position: absolute;
    left: 136px;
}
.left-slider-137px {
    position: absolute;
    left: 137px;
}
.left-slider-138px {
    position: absolute;
    left: 138px;
}
.left-slider-139px {
    position: absolute;
    left: 139px;
}
.left-slider-140px {
    position: absolute;
    left: 140px;
}
.left-slider-141px {
    position: absolute;
    left: 141px;
}
.left-slider-142px {
    position: absolute;
    left: 142px;
}
.left-slider-143px {
    position: absolute;
    left: 143px;
}
.left-slider-144px {
    position: absolute;
    left: 144px;
}
.left-slider-145px {
    position: absolute;
    left: 145px;
}
.left-slider-146px {
    position: absolute;
    left: 146px;
}
.left-slider-147px {
    position: absolute;
    left: 147px;
}
.left-slider-148px {
    position: absolute;
    left: 148px;
}
.left-slider-149px {
    position: absolute;
    left: 149px;
}
.left-slider-150px {
    position: absolute;
    left: 150px;
}
.left-slider-151px {
    position: absolute;
    left: 151px;
}
.left-slider-152px {
    position: absolute;
    left: 152px;
}
.left-slider-153px {
    position: absolute;
    left: 153px;
}
.left-slider-154px {
    position: absolute;
    left: 154px;
}
.left-slider-155px {
    position: absolute;
    left: 155px;
}
.left-slider-156px {
    position: absolute;
    left: 156px;
}
.left-slider-157px {
    position: absolute;
    left: 157px;
}
.left-slider-158px {
    position: absolute;
    left: 158px;
}
.left-slider-159px {
    position: absolute;
    left: 159px;
}
.left-slider-160px {
    position: absolute;
    left: 160px;
}
.left-slider-161px {
    position: absolute;
    left: 161px;
}
.left-slider-162px {
    position: absolute;
    left: 162px;
}
.left-slider-163px {
    position: absolute;
    left: 163px;
}
.left-slider-164px {
    position: absolute;
    left: 164px;
}
.left-slider-165px {
    position: absolute;
    left: 165px;
}
.left-slider-166px {
    position: absolute;
    left: 166px;
}
.left-slider-167px {
    position: absolute;
    left: 167px;
}
.left-slider-168px {
    position: absolute;
    left: 168px;
}
.left-slider-169px {
    position: absolute;
    left: 169px;
}
.left-slider-170px {
    position: absolute;
    left: 170px;
}
.left-slider-171px {
    position: absolute;
    left: 171px;
}
.left-slider-172px {
    position: absolute;
    left: 172px;
}
.left-slider-173px {
    position: absolute;
    left: 173px;
}
.left-slider-174px {
    position: absolute;
    left: 174px;
}
.left-slider-175px {
    position: absolute;
    left: 175px;
}
.left-slider-176px {
    position: absolute;
    left: 176px;
}
.left-slider-177px {
    position: absolute;
    left: 177px;
}
.left-slider-178px {
    position: absolute;
    left: 178px;
}
.left-slider-179px {
    position: absolute;
    left: 179px;
}
.left-slider-180px {
    position: absolute;
    left: 180px;
}
.left-slider-181px {
    position: absolute;
    left: 181px;
}
.left-slider-182px {
    position: absolute;
    left: 182px;
}
.left-slider-183px {
    position: absolute;
    left: 183px;
}
.left-slider-184px {
    position: absolute;
    left: 184px;
}
.left-slider-185px {
    position: absolute;
    left: 185px;
}
.left-slider-186px {
    position: absolute;
    left: 186px;
}
.left-slider-187px {
    position: absolute;
    left: 187px;
}
.left-slider-188px {
    position: absolute;
    left: 188px;
}
.left-slider-189px {
    position: absolute;
    left: 189px;
}
.left-slider-190px {
    position: absolute;
    left: 190px;
}
.left-slider-191px {
    position: absolute;
    left: 191px;
}
.left-slider-192px {
    position: absolute;
    left: 192px;
}
.left-slider-193px {
    position: absolute;
    left: 193px;
}
.left-slider-194px {
    position: absolute;
    left: 194px;
}
.left-slider-195px {
    position: absolute;
    left: 195px;
}
.left-slider-196px {
    position: absolute;
    left: 196px;
}
.left-slider-197px {
    position: absolute;
    left: 197px;
}
.left-slider-198px {
    position: absolute;
    left: 198px;
}
.left-slider-199px {
    position: absolute;
    left: 199px;
}
.left-slider-200px {
    position: absolute;
    left: 200px;
}
.left-slider-201px {
    position: absolute;
    left: 201px;
}
.left-slider-202px {
    position: absolute;
    left: 202px;
}
.left-slider-203px {
    position: absolute;
    left: 203px;
}
.left-slider-204px {
    position: absolute;
    left: 204px;
}
.left-slider-205px {
    position: absolute;
    left: 205px;
}
.left-slider-206px {
    position: absolute;
    left: 206px;
}
.left-slider-207px {
    position: absolute;
    left: 207px;
}
.left-slider-208px {
    position: absolute;
    left: 208px;
}
.left-slider-209px {
    position: absolute;
    left: 209px;
}
.left-slider-210px {
    position: absolute;
    left: 210px;
}
.left-slider-211px {
    position: absolute;
    left: 211px;
}
.left-slider-212px {
    position: absolute;
    left: 212px;
}
.left-slider-213px {
    position: absolute;
    left: 213px;
}
.left-slider-214px {
    position: absolute;
    left: 214px;
}
.left-slider-215px {
    position: absolute;
    left: 215px;
}
.left-slider-216px {
    position: absolute;
    left: 216px;
}
.left-slider-217px {
    position: absolute;
    left: 217px;
}
.left-slider-218px {
    position: absolute;
    left: 218px;
}
.left-slider-219px {
    position: absolute;
    left: 219px;
}
.left-slider-220px {
    position: absolute;
    left: 220px;
}
.left-slider-221px {
    position: absolute;
    left: 221px;
}
.left-slider-222px {
    position: absolute;
    left: 222px;
}
.left-slider-223px {
    position: absolute;
    left: 223px;
}
.left-slider-224px {
    position: absolute;
    left: 224px;
}
.left-slider-225px {
    position: absolute;
    left: 225px;
}
.left-slider-226px {
    position: absolute;
    left: 226px;
}
.left-slider-227px {
    position: absolute;
    left: 227px;
}
.left-slider-228px {
    position: absolute;
    left: 228px;
}
.left-slider-229px {
    position: absolute;
    left: 229px;
}
.left-slider-230px {
    position: absolute;
    left: 230px;
}
.left-slider-231px {
    position: absolute;
    left: 231px;
}
.left-slider-232px {
    position: absolute;
    left: 232px;
}
.left-slider-233px {
    position: absolute;
    left: 233px;
}
.left-slider-234px {
    position: absolute;
    left: 234px;
}
.left-slider-235px {
    position: absolute;
    left: 235px;
}
.left-slider-236px {
    position: absolute;
    left: 236px;
}
.left-slider-237px {
    position: absolute;
    left: 237px;
}
.left-slider-238px {
    position: absolute;
    left: 238px;
}
.left-slider-239px {
    position: absolute;
    left: 239px;
}
.left-slider-240px {
    position: absolute;
    left: 240px;
}
.left-slider-241px {
    position: absolute;
    left: 241px;
}
.left-slider-242px {
    position: absolute;
    left: 242px;
}
.left-slider-243px {
    position: absolute;
    left: 243px;
}
.left-slider-244px {
    position: absolute;
    left: 244px;
}
.left-slider-245px {
    position: absolute;
    left: 245px;
}
.left-slider-246px {
    position: absolute;
    left: 246px;
}
.left-slider-247px {
    position: absolute;
    left: 247px;
}
.left-slider-248px {
    position: absolute;
    left: 248px;
}
.left-slider-249px {
    position: absolute;
    left: 249px;
}
.left-slider-250px {
    position: absolute;
    left: 250px;
}
.left-slider-251px {
    position: absolute;
    left: 251px;
}
.left-slider-252px {
    position: absolute;
    left: 252px;
}
.left-slider-253px {
    position: absolute;
    left: 253px;
}
.left-slider-254px {
    position: absolute;
    left: 254px;
}
.left-slider-255px {
    position: absolute;
    left: 255px;
}
.left-slider-256px {
    position: absolute;
    left: 256px;
}
.left-slider-257px {
    position: absolute;
    left: 257px;
}
.left-slider-258px {
    position: absolute;
    left: 258px;
}
.left-slider-259px {
    position: absolute;
    left: 259px;
}
.left-slider-260px {
    position: absolute;
    left: 260px;
}
.left-slider-261px {
    position: absolute;
    left: 261px;
}
.left-slider-262px {
    position: absolute;
    left: 262px;
}
.left-slider-263px {
    position: absolute;
    left: 263px;
}
.left-slider-264px {
    position: absolute;
    left: 264px;
}
.left-slider-265px {
    position: absolute;
    left: 265px;
}
.left-slider-266px {
    position: absolute;
    left: 266px;
}
.left-slider-267px {
    position: absolute;
    left: 267px;
}
.left-slider-268px {
    position: absolute;
    left: 268px;
}
.left-slider-269px {
    position: absolute;
    left: 269px;
}
.left-slider-270px {
    position: absolute;
    left: 270px;
}
.left-slider-271px {
    position: absolute;
    left: 271px;
}
.left-slider-272px {
    position: absolute;
    left: 272px;
}
.left-slider-273px {
    position: absolute;
    left: 273px;
}
.left-slider-274px {
    position: absolute;
    left: 274px;
}
.left-slider-275px {
    position: absolute;
    left: 275px;
}
.left-slider-276px {
    position: absolute;
    left: 276px;
}
.left-slider-277px {
    position: absolute;
    left: 277px;
}
.left-slider-278px {
    position: absolute;
    left: 278px;
}
.left-slider-279px {
    position: absolute;
    left: 279px;
}
.left-slider-280px {
    position: absolute;
    left: 280px;
}
.left-slider-281px {
    position: absolute;
    left: 281px;
}
.left-slider-282px {
    position: absolute;
    left: 282px;
}
.left-slider-283px {
    position: absolute;
    left: 283px;
}
.left-slider-284px {
    position: absolute;
    left: 284px;
}
.left-slider-285px {
    position: absolute;
    left: 285px;
}
.left-slider-286px {
    position: absolute;
    left: 286px;
}
.left-slider-287px {
    position: absolute;
    left: 287px;
}
.left-slider-288px {
    position: absolute;
    left: 288px;
}
.left-slider-289px {
    position: absolute;
    left: 289px;
}
.left-slider-290px {
    position: absolute;
    left: 290px;
}
.left-slider-291px {
    position: absolute;
    left: 291px;
}
.left-slider-292px {
    position: absolute;
    left: 292px;
}
.left-slider-293px {
    position: absolute;
    left: 293px;
}
.left-slider-294px {
    position: absolute;
    left: 294px;
}
.left-slider-295px {
    position: absolute;
    left: 295px;
}
.left-slider-296px {
    position: absolute;
    left: 296px;
}
.left-slider-297px {
    position: absolute;
    left: 297px;
}
.left-slider-298px {
    position: absolute;
    left: 298px;
}
.left-slider-299px {
    position: absolute;
    left: 299px;
}
.left-slider-300px {
    position: absolute;
    left: 300px;
}
.left-slider-301px {
    position: absolute;
    left: 301px;
}
.left-slider-302px {
    position: absolute;
    left: 302px;
}
.left-slider-303px {
    position: absolute;
    left: 303px;
}
.left-slider-304px {
    position: absolute;
    left: 304px;
}
.left-slider-305px {
    position: absolute;
    left: 305px;
}
.left-slider-306px {
    position: absolute;
    left: 306px;
}
.left-slider-307px {
    position: absolute;
    left: 307px;
}
.left-slider-308px {
    position: absolute;
    left: 308px;
}
.left-slider-309px {
    position: absolute;
    left: 309px;
}
.left-slider-310px {
    position: absolute;
    left: 310px;
}
.left-slider-311px {
    position: absolute;
    left: 311px;
}
.left-slider-312px {
    position: absolute;
    left: 312px;
}
.left-slider-313px {
    position: absolute;
    left: 313px;
}
.left-slider-314px {
    position: absolute;
    left: 314px;
}
.left-slider-315px {
    position: absolute;
    left: 315px;
}
.left-slider-316px {
    position: absolute;
    left: 316px;
}
.left-slider-317px {
    position: absolute;
    left: 317px;
}
.left-slider-318px {
    position: absolute;
    left: 318px;
}
.left-slider-319px {
    position: absolute;
    left: 319px;
}
.left-slider-320px {
    position: absolute;
    left: 320px;
}
.left-slider-321px {
    position: absolute;
    left: 321px;
}
.left-slider-322px {
    position: absolute;
    left: 322px;
}
.left-slider-323px {
    position: absolute;
    left: 323px;
}
.left-slider-324px {
    position: absolute;
    left: 324px;
}
.left-slider-325px {
    position: absolute;
    left: 325px;
}
.left-slider-326px {
    position: absolute;
    left: 326px;
}
.left-slider-327px {
    position: absolute;
    left: 327px;
}
.left-slider-328px {
    position: absolute;
    left: 328px;
}
.left-slider-329px {
    position: absolute;
    left: 329px;
}
.left-slider-330px {
    position: absolute;
    left: 330px;
}
.left-slider-331px {
    position: absolute;
    left: 331px;
}
.left-slider-332px {
    position: absolute;
    left: 332px;
}
.left-slider-333px {
    position: absolute;
    left: 333px;
}
.left-slider-334px {
    position: absolute;
    left: 334px;
}
.left-slider-335px {
    position: absolute;
    left: 335px;
}
.left-slider-336px {
    position: absolute;
    left: 336px;
}
.left-slider-337px {
    position: absolute;
    left: 337px;
}
.left-slider-338px {
    position: absolute;
    left: 338px;
}
.left-slider-339px {
    position: absolute;
    left: 339px;
}
.left-slider-340px {
    position: absolute;
    left: 340px;
}
.left-slider-341px {
    position: absolute;
    left: 341px;
}
.left-slider-342px {
    position: absolute;
    left: 342px;
}
.left-slider-343px {
    position: absolute;
    left: 343px;
}
.left-slider-344px {
    position: absolute;
    left: 344px;
}
.left-slider-345px {
    position: absolute;
    left: 345px;
}
.left-slider-346px {
    position: absolute;
    left: 346px;
}
.left-slider-347px {
    position: absolute;
    left: 347px;
}
.left-slider-348px {
    position: absolute;
    left: 348px;
}
.left-slider-349px {
    position: absolute;
    left: 349px;
}
.left-slider-350px {
    position: absolute;
    left: 350px;
}
.left-slider-351px {
    position: absolute;
    left: 351px;
}
.left-slider-352px {
    position: absolute;
    left: 352px;
}
.left-slider-353px {
    position: absolute;
    left: 353px;
}
.left-slider-354px {
    position: absolute;
    left: 354px;
}
.left-slider-355px {
    position: absolute;
    left: 355px;
}
.left-slider-356px {
    position: absolute;
    left: 356px;
}
.left-slider-357px {
    position: absolute;
    left: 357px;
}
.left-slider-358px {
    position: absolute;
    left: 358px;
}
.left-slider-359px {
    position: absolute;
    left: 359px;
}
.left-slider-360px {
    position: absolute;
    left: 360px;
}
.left-slider-361px {
    position: absolute;
    left: 361px;
}
.left-slider-362px {
    position: absolute;
    left: 362px;
}
.left-slider-363px {
    position: absolute;
    left: 363px;
}
.left-slider-364px {
    position: absolute;
    left: 364px;
}
.left-slider-365px {
    position: absolute;
    left: 365px;
}
.left-slider-366px {
    position: absolute;
    left: 366px;
}
.left-slider-367px {
    position: absolute;
    left: 367px;
}
.left-slider-368px {
    position: absolute;
    left: 368px;
}
.left-slider-369px {
    position: absolute;
    left: 369px;
}
.left-slider-370px {
    position: absolute;
    left: 370px;
}
.left-slider-371px {
    position: absolute;
    left: 371px;
}
.left-slider-372px {
    position: absolute;
    left: 372px;
}
.left-slider-373px {
    position: absolute;
    left: 373px;
}
.left-slider-374px {
    position: absolute;
    left: 374px;
}
.left-slider-375px {
    position: absolute;
    left: 375px;
}
.left-slider-376px {
    position: absolute;
    left: 376px;
}
.left-slider-377px {
    position: absolute;
    left: 377px;
}
.left-slider-378px {
    position: absolute;
    left: 378px;
}
.left-slider-379px {
    position: absolute;
    left: 379px;
}
.left-slider-380px {
    position: absolute;
    left: 380px;
}
.left-slider-381px {
    position: absolute;
    left: 381px;
}
.left-slider-382px {
    position: absolute;
    left: 382px;
}
.left-slider-383px {
    position: absolute;
    left: 383px;
}
.left-slider-384px {
    position: absolute;
    left: 384px;
}
.left-slider-385px {
    position: absolute;
    left: 385px;
}
.left-slider-386px {
    position: absolute;
    left: 386px;
}
.left-slider-387px {
    position: absolute;
    left: 387px;
}
.left-slider-388px {
    position: absolute;
    left: 388px;
}
.left-slider-389px {
    position: absolute;
    left: 389px;
}
.left-slider-390px {
    position: absolute;
    left: 390px;
}
.left-slider-391px {
    position: absolute;
    left: 391px;
}
.left-slider-392px {
    position: absolute;
    left: 392px;
}
.left-slider-393px {
    position: absolute;
    left: 393px;
}
.left-slider-394px {
    position: absolute;
    left: 394px;
}
.left-slider-395px {
    position: absolute;
    left: 395px;
}
.left-slider-396px {
    position: absolute;
    left: 396px;
}
.left-slider-397px {
    position: absolute;
    left: 397px;
}
.left-slider-398px {
    position: absolute;
    left: 398px;
}
.left-slider-399px {
    position: absolute;
    left: 399px;
}
.left-slider-400px {
    position: absolute;
    left: 400px;
}
.left-slider-401px {
    position: absolute;
    left: 401px;
}
.left-slider-402px {
    position: absolute;
    left: 402px;
}
.left-slider-403px {
    position: absolute;
    left: 403px;
}
.left-slider-404px {
    position: absolute;
    left: 404px;
}
.left-slider-405px {
    position: absolute;
    left: 405px;
}
.left-slider-406px {
    position: absolute;
    left: 406px;
}
.left-slider-407px {
    position: absolute;
    left: 407px;
}
.left-slider-408px {
    position: absolute;
    left: 408px;
}
.left-slider-409px {
    position: absolute;
    left: 409px;
}
.left-slider-410px {
    position: absolute;
    left: 410px;
}
.left-slider-411px {
    position: absolute;
    left: 411px;
}
.left-slider-412px {
    position: absolute;
    left: 412px;
}
.left-slider-413px {
    position: absolute;
    left: 413px;
}
.left-slider-414px {
    position: absolute;
    left: 414px;
}
.left-slider-415px {
    position: absolute;
    left: 415px;
}
.left-slider-416px {
    position: absolute;
    left: 416px;
}
.left-slider-417px {
    position: absolute;
    left: 417px;
}
.left-slider-418px {
    position: absolute;
    left: 418px;
}
.left-slider-419px {
    position: absolute;
    left: 419px;
}
.left-slider-420px {
    position: absolute;
    left: 420px;
}
.left-slider-421px {
    position: absolute;
    left: 421px;
}
.left-slider-422px {
    position: absolute;
    left: 422px;
}
.left-slider-423px {
    position: absolute;
    left: 423px;
}
.left-slider-424px {
    position: absolute;
    left: 424px;
}
.left-slider-425px {
    position: absolute;
    left: 425px;
}
.left-slider-426px {
    position: absolute;
    left: 426px;
}
.left-slider-427px {
    position: absolute;
    left: 427px;
}
.left-slider-428px {
    position: absolute;
    left: 428px;
}
.left-slider-429px {
    position: absolute;
    left: 429px;
}
.left-slider-430px {
    position: absolute;
    left: 430px;
}
.left-slider-431px {
    position: absolute;
    left: 431px;
}
.left-slider-432px {
    position: absolute;
    left: 432px;
}
.left-slider-433px {
    position: absolute;
    left: 433px;
}
.left-slider-434px {
    position: absolute;
    left: 434px;
}
.left-slider-435px {
    position: absolute;
    left: 435px;
}
.left-slider-436px {
    position: absolute;
    left: 436px;
}
.left-slider-437px {
    position: absolute;
    left: 437px;
}
.left-slider-438px {
    position: absolute;
    left: 438px;
}
.left-slider-439px {
    position: absolute;
    left: 439px;
}
.left-slider-440px {
    position: absolute;
    left: 440px;
}
.left-slider-441px {
    position: absolute;
    left: 441px;
}
.left-slider-442px {
    position: absolute;
    left: 442px;
}
.left-slider-443px {
    position: absolute;
    left: 443px;
}
.left-slider-444px {
    position: absolute;
    left: 444px;
}
.left-slider-445px {
    position: absolute;
    left: 445px;
}
.left-slider-446px {
    position: absolute;
    left: 446px;
}
.left-slider-447px {
    position: absolute;
    left: 447px;
}
.left-slider-448px {
    position: absolute;
    left: 448px;
}
.left-slider-449px {
    position: absolute;
    left: 449px;
}
.left-slider-450px {
    position: absolute;
    left: 450px;
}
.left-slider-451px {
    position: absolute;
    left: 451px;
}
.left-slider-452px {
    position: absolute;
    left: 452px;
}
.left-slider-453px {
    position: absolute;
    left: 453px;
}
.left-slider-454px {
    position: absolute;
    left: 454px;
}
.left-slider-455px {
    position: absolute;
    left: 455px;
}
.left-slider-456px {
    position: absolute;
    left: 456px;
}
.left-slider-457px {
    position: absolute;
    left: 457px;
}
.left-slider-458px {
    position: absolute;
    left: 458px;
}
.left-slider-459px {
    position: absolute;
    left: 459px;
}
.left-slider-460px {
    position: absolute;
    left: 460px;
}
.left-slider-461px {
    position: absolute;
    left: 461px;
}
.left-slider-462px {
    position: absolute;
    left: 462px;
}
.left-slider-463px {
    position: absolute;
    left: 463px;
}
.left-slider-464px {
    position: absolute;
    left: 464px;
}
.left-slider-465px {
    position: absolute;
    left: 465px;
}
.left-slider-466px {
    position: absolute;
    left: 466px;
}
.left-slider-467px {
    position: absolute;
    left: 467px;
}
.left-slider-468px {
    position: absolute;
    left: 468px;
}
.left-slider-469px {
    position: absolute;
    left: 469px;
}
.left-slider-470px {
    position: absolute;
    left: 470px;
}
.left-slider-471px {
    position: absolute;
    left: 471px;
}
.left-slider-472px {
    position: absolute;
    left: 472px;
}
.left-slider-473px {
    position: absolute;
    left: 473px;
}
.left-slider-474px {
    position: absolute;
    left: 474px;
}
.left-slider-475px {
    position: absolute;
    left: 475px;
}
.left-slider-476px {
    position: absolute;
    left: 476px;
}
.left-slider-477px {
    position: absolute;
    left: 477px;
}
.left-slider-478px {
    position: absolute;
    left: 478px;
}
.left-slider-479px {
    position: absolute;
    left: 479px;
}
.left-slider-480px {
    position: absolute;
    left: 480px;
}
.left-slider-481px {
    position: absolute;
    left: 481px;
}
.left-slider-482px {
    position: absolute;
    left: 482px;
}
.left-slider-483px {
    position: absolute;
    left: 483px;
}
.left-slider-484px {
    position: absolute;
    left: 484px;
}
.left-slider-485px {
    position: absolute;
    left: 485px;
}
.left-slider-486px {
    position: absolute;
    left: 486px;
}
.left-slider-487px {
    position: absolute;
    left: 487px;
}
.left-slider-488px {
    position: absolute;
    left: 488px;
}
.left-slider-489px {
    position: absolute;
    left: 489px;
}
.left-slider-490px {
    position: absolute;
    left: 490px;
}
.left-slider-491px {
    position: absolute;
    left: 491px;
}
.left-slider-492px {
    position: absolute;
    left: 492px;
}
.left-slider-493px {
    position: absolute;
    left: 493px;
}
.left-slider-494px {
    position: absolute;
    left: 494px;
}
.left-slider-495px {
    position: absolute;
    left: 495px;
}
.left-slider-496px {
    position: absolute;
    left: 496px;
}
.left-slider-497px {
    position: absolute;
    left: 497px;
}
.left-slider-498px {
    position: absolute;
    left: 498px;
}
.left-slider-499px {
    position: absolute;
    left: 499px;
}
.left-slider-500px {
    position: absolute;
    left: 500px;
}
.left-slider-501px {
    position: absolute;
    left: 501px;
}
.left-slider-502px {
    position: absolute;
    left: 502px;
}
.left-slider-503px {
    position: absolute;
    left: 503px;
}
.left-slider-504px {
    position: absolute;
    left: 504px;
}
.left-slider-505px {
    position: absolute;
    left: 505px;
}
.left-slider-506px {
    position: absolute;
    left: 506px;
}
.left-slider-507px {
    position: absolute;
    left: 507px;
}
.left-slider-508px {
    position: absolute;
    left: 508px;
}
.left-slider-509px {
    position: absolute;
    left: 509px;
}
.left-slider-510px {
    position: absolute;
    left: 510px;
}
.left-slider-511px {
    position: absolute;
    left: 511px;
}
.left-slider-512px {
    position: absolute;
    left: 512px;
}
.left-slider-513px {
    position: absolute;
    left: 513px;
}
.left-slider-514px {
    position: absolute;
    left: 514px;
}
.left-slider-515px {
    position: absolute;
    left: 515px;
}
.left-slider-516px {
    position: absolute;
    left: 516px;
}
.left-slider-517px {
    position: absolute;
    left: 517px;
}
.left-slider-518px {
    position: absolute;
    left: 518px;
}
.left-slider-519px {
    position: absolute;
    left: 519px;
}
.left-slider-520px {
    position: absolute;
    left: 520px;
}
.left-slider-521px {
    position: absolute;
    left: 521px;
}
.left-slider-522px {
    position: absolute;
    left: 522px;
}
.left-slider-523px {
    position: absolute;
    left: 523px;
}
.left-slider-524px {
    position: absolute;
    left: 524px;
}
.left-slider-525px {
    position: absolute;
    left: 525px;
}
.left-slider-526px {
    position: absolute;
    left: 526px;
}
.left-slider-527px {
    position: absolute;
    left: 527px;
}
.left-slider-528px {
    position: absolute;
    left: 528px;
}
.left-slider-529px {
    position: absolute;
    left: 529px;
}
.left-slider-530px {
    position: absolute;
    left: 530px;
}
.left-slider-531px {
    position: absolute;
    left: 531px;
}
.left-slider-532px {
    position: absolute;
    left: 532px;
}
.left-slider-533px {
    position: absolute;
    left: 533px;
}
.left-slider-534px {
    position: absolute;
    left: 534px;
}
.left-slider-535px {
    position: absolute;
    left: 535px;
}
.left-slider-536px {
    position: absolute;
    left: 536px;
}
.left-slider-537px {
    position: absolute;
    left: 537px;
}
.left-slider-538px {
    position: absolute;
    left: 538px;
}
.left-slider-539px {
    position: absolute;
    left: 539px;
}
.left-slider-540px {
    position: absolute;
    left: 540px;
}
.left-slider-541px {
    position: absolute;
    left: 541px;
}
.left-slider-542px {
    position: absolute;
    left: 542px;
}
.left-slider-543px {
    position: absolute;
    left: 543px;
}
.left-slider-544px {
    position: absolute;
    left: 544px;
}
.left-slider-545px {
    position: absolute;
    left: 545px;
}
.left-slider-546px {
    position: absolute;
    left: 546px;
}
.left-slider-547px {
    position: absolute;
    left: 547px;
}
.left-slider-548px {
    position: absolute;
    left: 548px;
}
.left-slider-549px {
    position: absolute;
    left: 549px;
}
.left-slider-550px {
    position: absolute;
    left: 550px;
}
.left-slider-551px {
    position: absolute;
    left: 551px;
}
.left-slider-552px {
    position: absolute;
    left: 552px;
}
.left-slider-553px {
    position: absolute;
    left: 553px;
}
.left-slider-554px {
    position: absolute;
    left: 554px;
}
.left-slider-555px {
    position: absolute;
    left: 555px;
}
.left-slider-556px {
    position: absolute;
    left: 556px;
}
.left-slider-557px {
    position: absolute;
    left: 557px;
}
.left-slider-558px {
    position: absolute;
    left: 558px;
}
.left-slider-559px {
    position: absolute;
    left: 559px;
}
.left-slider-560px {
    position: absolute;
    left: 560px;
}
.left-slider-561px {
    position: absolute;
    left: 561px;
}
.left-slider-562px {
    position: absolute;
    left: 562px;
}
.left-slider-563px {
    position: absolute;
    left: 563px;
}
.left-slider-564px {
    position: absolute;
    left: 564px;
}
.left-slider-565px {
    position: absolute;
    left: 565px;
}
.left-slider-566px {
    position: absolute;
    left: 566px;
}
.left-slider-567px {
    position: absolute;
    left: 567px;
}
.left-slider-568px {
    position: absolute;
    left: 568px;
}
.left-slider-569px {
    position: absolute;
    left: 569px;
}
.left-slider-570px {
    position: absolute;
    left: 570px;
}
.left-slider-571px {
    position: absolute;
    left: 571px;
}
.left-slider-572px {
    position: absolute;
    left: 572px;
}
.left-slider-573px {
    position: absolute;
    left: 573px;
}
.left-slider-574px {
    position: absolute;
    left: 574px;
}
.left-slider-575px {
    position: absolute;
    left: 575px;
}
.left-slider-576px {
    position: absolute;
    left: 576px;
}
.left-slider-577px {
    position: absolute;
    left: 577px;
}
.left-slider-578px {
    position: absolute;
    left: 578px;
}
.left-slider-579px {
    position: absolute;
    left: 579px;
}
.left-slider-580px {
    position: absolute;
    left: 580px;
}
.left-slider-581px {
    position: absolute;
    left: 581px;
}
.left-slider-582px {
    position: absolute;
    left: 582px;
}
.left-slider-583px {
    position: absolute;
    left: 583px;
}
.left-slider-584px {
    position: absolute;
    left: 584px;
}
.left-slider-585px {
    position: absolute;
    left: 585px;
}
.left-slider-586px {
    position: absolute;
    left: 586px;
}
.left-slider-587px {
    position: absolute;
    left: 587px;
}
.left-slider-588px {
    position: absolute;
    left: 588px;
}
.left-slider-589px {
    position: absolute;
    left: 589px;
}
.left-slider-590px {
    position: absolute;
    left: 590px;
}
.left-slider-591px {
    position: absolute;
    left: 591px;
}
.left-slider-592px {
    position: absolute;
    left: 592px;
}
.left-slider-593px {
    position: absolute;
    left: 593px;
}
.left-slider-594px {
    position: absolute;
    left: 594px;
}
.left-slider-595px {
    position: absolute;
    left: 595px;
}
.left-slider-596px {
    position: absolute;
    left: 596px;
}
.left-slider-597px {
    position: absolute;
    left: 597px;
}
.left-slider-598px {
    position: absolute;
    left: 598px;
}
.left-slider-599px {
    position: absolute;
    left: 599px;
}
.left-slider-600px {
    position: absolute;
    left: 600px;
}
.left-slider-601px {
    position: absolute;
    left: 601px;
}
.left-slider-602px {
    position: absolute;
    left: 602px;
}
.left-slider-603px {
    position: absolute;
    left: 603px;
}
.left-slider-604px {
    position: absolute;
    left: 604px;
}
.left-slider-605px {
    position: absolute;
    left: 605px;
}
.left-slider-606px {
    position: absolute;
    left: 606px;
}
.left-slider-607px {
    position: absolute;
    left: 607px;
}
.left-slider-608px {
    position: absolute;
    left: 608px;
}
.left-slider-609px {
    position: absolute;
    left: 609px;
}
.left-slider-610px {
    position: absolute;
    left: 610px;
}
.left-slider-611px {
    position: absolute;
    left: 611px;
}
.left-slider-612px {
    position: absolute;
    left: 612px;
}
.left-slider-613px {
    position: absolute;
    left: 613px;
}
.left-slider-614px {
    position: absolute;
    left: 614px;
}
.left-slider-615px {
    position: absolute;
    left: 615px;
}
.left-slider-616px {
    position: absolute;
    left: 616px;
}
.left-slider-617px {
    position: absolute;
    left: 617px;
}
.left-slider-618px {
    position: absolute;
    left: 618px;
}
.left-slider-619px {
    position: absolute;
    left: 619px;
}
.left-slider-620px {
    position: absolute;
    left: 620px;
}
.left-slider-621px {
    position: absolute;
    left: 621px;
}
.left-slider-622px {
    position: absolute;
    left: 622px;
}
.left-slider-623px {
    position: absolute;
    left: 623px;
}
.left-slider-624px {
    position: absolute;
    left: 624px;
}
.left-slider-625px {
    position: absolute;
    left: 625px;
}
.left-slider-626px {
    position: absolute;
    left: 626px;
}
.left-slider-627px {
    position: absolute;
    left: 627px;
}
.left-slider-628px {
    position: absolute;
    left: 628px;
}
.left-slider-629px {
    position: absolute;
    left: 629px;
}
.left-slider-630px {
    position: absolute;
    left: 630px;
}
.left-slider-631px {
    position: absolute;
    left: 631px;
}
.left-slider-632px {
    position: absolute;
    left: 632px;
}
.left-slider-633px {
    position: absolute;
    left: 633px;
}
.left-slider-634px {
    position: absolute;
    left: 634px;
}
.left-slider-635px {
    position: absolute;
    left: 635px;
}
.left-slider-636px {
    position: absolute;
    left: 636px;
}
.left-slider-637px {
    position: absolute;
    left: 637px;
}
.left-slider-638px {
    position: absolute;
    left: 638px;
}
.left-slider-639px {
    position: absolute;
    left: 639px;
}
.left-slider-640px {
    position: absolute;
    left: 640px;
}
.left-slider-641px {
    position: absolute;
    left: 641px;
}
.left-slider-642px {
    position: absolute;
    left: 642px;
}
.left-slider-643px {
    position: absolute;
    left: 643px;
}
.left-slider-644px {
    position: absolute;
    left: 644px;
}
.left-slider-645px {
    position: absolute;
    left: 645px;
}
.left-slider-646px {
    position: absolute;
    left: 646px;
}
.left-slider-647px {
    position: absolute;
    left: 647px;
}
.left-slider-648px {
    position: absolute;
    left: 648px;
}
.left-slider-649px {
    position: absolute;
    left: 649px;
}
.left-slider-650px {
    position: absolute;
    left: 650px;
}
.left-slider-651px {
    position: absolute;
    left: 651px;
}
.left-slider-652px {
    position: absolute;
    left: 652px;
}
.left-slider-653px {
    position: absolute;
    left: 653px;
}
.left-slider-654px {
    position: absolute;
    left: 654px;
}
.left-slider-655px {
    position: absolute;
    left: 655px;
}
.left-slider-656px {
    position: absolute;
    left: 656px;
}
.left-slider-657px {
    position: absolute;
    left: 657px;
}
.left-slider-658px {
    position: absolute;
    left: 658px;
}
.left-slider-659px {
    position: absolute;
    left: 659px;
}
.left-slider-660px {
    position: absolute;
    left: 660px;
}
.left-slider-661px {
    position: absolute;
    left: 661px;
}
.left-slider-662px {
    position: absolute;
    left: 662px;
}
.left-slider-663px {
    position: absolute;
    left: 663px;
}
.left-slider-664px {
    position: absolute;
    left: 664px;
}
.left-slider-665px {
    position: absolute;
    left: 665px;
}
.left-slider-666px {
    position: absolute;
    left: 666px;
}
.left-slider-667px {
    position: absolute;
    left: 667px;
}
.left-slider-668px {
    position: absolute;
    left: 668px;
}
.left-slider-669px {
    position: absolute;
    left: 669px;
}
.left-slider-670px {
    position: absolute;
    left: 670px;
}
.left-slider-671px {
    position: absolute;
    left: 671px;
}
.left-slider-672px {
    position: absolute;
    left: 672px;
}
.left-slider-673px {
    position: absolute;
    left: 673px;
}
.left-slider-674px {
    position: absolute;
    left: 674px;
}
.left-slider-675px {
    position: absolute;
    left: 675px;
}
.left-slider-676px {
    position: absolute;
    left: 676px;
}
.left-slider-677px {
    position: absolute;
    left: 677px;
}
.left-slider-678px {
    position: absolute;
    left: 678px;
}
.left-slider-679px {
    position: absolute;
    left: 679px;
}
.left-slider-680px {
    position: absolute;
    left: 680px;
}
.left-slider-681px {
    position: absolute;
    left: 681px;
}
.left-slider-682px {
    position: absolute;
    left: 682px;
}
.left-slider-683px {
    position: absolute;
    left: 683px;
}
.left-slider-684px {
    position: absolute;
    left: 684px;
}
.left-slider-685px {
    position: absolute;
    left: 685px;
}
.left-slider-686px {
    position: absolute;
    left: 686px;
}
.left-slider-687px {
    position: absolute;
    left: 687px;
}
.left-slider-688px {
    position: absolute;
    left: 688px;
}
.left-slider-689px {
    position: absolute;
    left: 689px;
}
.left-slider-690px {
    position: absolute;
    left: 690px;
}
.left-slider-691px {
    position: absolute;
    left: 691px;
}
.left-slider-692px {
    position: absolute;
    left: 692px;
}
.left-slider-693px {
    position: absolute;
    left: 693px;
}
.left-slider-694px {
    position: absolute;
    left: 694px;
}
.left-slider-695px {
    position: absolute;
    left: 695px;
}
.left-slider-696px {
    position: absolute;
    left: 696px;
}
.left-slider-697px {
    position: absolute;
    left: 697px;
}
.left-slider-698px {
    position: absolute;
    left: 698px;
}
.left-slider-699px {
    position: absolute;
    left: 699px;
}
.left-slider-700px {
    position: absolute;
    left: 700px;
}
.left-slider-701px {
    position: absolute;
    left: 701px;
}
.left-slider-702px {
    position: absolute;
    left: 702px;
}
.left-slider-703px {
    position: absolute;
    left: 703px;
}
.left-slider-704px {
    position: absolute;
    left: 704px;
}
.left-slider-705px {
    position: absolute;
    left: 705px;
}
.left-slider-706px {
    position: absolute;
    left: 706px;
}
.left-slider-707px {
    position: absolute;
    left: 707px;
}
.left-slider-708px {
    position: absolute;
    left: 708px;
}
.left-slider-709px {
    position: absolute;
    left: 709px;
}
.left-slider-710px {
    position: absolute;
    left: 710px;
}
.left-slider-711px {
    position: absolute;
    left: 711px;
}
.left-slider-712px {
    position: absolute;
    left: 712px;
}
.left-slider-713px {
    position: absolute;
    left: 713px;
}
.left-slider-714px {
    position: absolute;
    left: 714px;
}
.left-slider-715px {
    position: absolute;
    left: 715px;
}
.left-slider-716px {
    position: absolute;
    left: 716px;
}
.left-slider-717px {
    position: absolute;
    left: 717px;
}
.left-slider-718px {
    position: absolute;
    left: 718px;
}
.left-slider-719px {
    position: absolute;
    left: 719px;
}
.left-slider-720px {
    position: absolute;
    left: 720px;
}
.left-slider-721px {
    position: absolute;
    left: 721px;
}
.left-slider-722px {
    position: absolute;
    left: 722px;
}
.left-slider-723px {
    position: absolute;
    left: 723px;
}
.left-slider-724px {
    position: absolute;
    left: 724px;
}
.left-slider-725px {
    position: absolute;
    left: 725px;
}
.left-slider-726px {
    position: absolute;
    left: 726px;
}
.left-slider-727px {
    position: absolute;
    left: 727px;
}
.left-slider-728px {
    position: absolute;
    left: 728px;
}
.left-slider-729px {
    position: absolute;
    left: 729px;
}
.left-slider-730px {
    position: absolute;
    left: 730px;
}
.left-slider-731px {
    position: absolute;
    left: 731px;
}
.left-slider-732px {
    position: absolute;
    left: 732px;
}
.left-slider-733px {
    position: absolute;
    left: 733px;
}
.left-slider-734px {
    position: absolute;
    left: 734px;
}
.left-slider-735px {
    position: absolute;
    left: 735px;
}
.left-slider-736px {
    position: absolute;
    left: 736px;
}
.left-slider-737px {
    position: absolute;
    left: 737px;
}
.left-slider-738px {
    position: absolute;
    left: 738px;
}
.left-slider-739px {
    position: absolute;
    left: 739px;
}
.left-slider-740px {
    position: absolute;
    left: 740px;
}
.left-slider-741px {
    position: absolute;
    left: 741px;
}
.left-slider-742px {
    position: absolute;
    left: 742px;
}
.left-slider-743px {
    position: absolute;
    left: 743px;
}
.left-slider-744px {
    position: absolute;
    left: 744px;
}
.left-slider-745px {
    position: absolute;
    left: 745px;
}
.left-slider-746px {
    position: absolute;
    left: 746px;
}
.left-slider-747px {
    position: absolute;
    left: 747px;
}
.left-slider-748px {
    position: absolute;
    left: 748px;
}
.left-slider-749px {
    position: absolute;
    left: 749px;
}
.left-slider-750px {
    position: absolute;
    left: 750px;
}
.left-slider-751px {
    position: absolute;
    left: 751px;
}
.left-slider-752px {
    position: absolute;
    left: 752px;
}
.left-slider-753px {
    position: absolute;
    left: 753px;
}
.left-slider-754px {
    position: absolute;
    left: 754px;
}
.left-slider-755px {
    position: absolute;
    left: 755px;
}
.left-slider-756px {
    position: absolute;
    left: 756px;
}
.left-slider-757px {
    position: absolute;
    left: 757px;
}
.left-slider-758px {
    position: absolute;
    left: 758px;
}
.left-slider-759px {
    position: absolute;
    left: 759px;
}
.left-slider-760px {
    position: absolute;
    left: 760px;
}
.left-slider-761px {
    position: absolute;
    left: 761px;
}
.left-slider-762px {
    position: absolute;
    left: 762px;
}
.left-slider-763px {
    position: absolute;
    left: 763px;
}
.left-slider-764px {
    position: absolute;
    left: 764px;
}
.left-slider-765px {
    position: absolute;
    left: 765px;
}
.left-slider-766px {
    position: absolute;
    left: 766px;
}
.left-slider-767px {
    position: absolute;
    left: 767px;
}
.left-slider-768px {
    position: absolute;
    left: 768px;
}
.left-slider-769px {
    position: absolute;
    left: 769px;
}
.left-slider-770px {
    position: absolute;
    left: 770px;
}
.left-slider-771px {
    position: absolute;
    left: 771px;
}
.left-slider-772px {
    position: absolute;
    left: 772px;
}
.left-slider-773px {
    position: absolute;
    left: 773px;
}
.left-slider-774px {
    position: absolute;
    left: 774px;
}
.left-slider-775px {
    position: absolute;
    left: 775px;
}
.left-slider-776px {
    position: absolute;
    left: 776px;
}
.left-slider-777px {
    position: absolute;
    left: 777px;
}
.left-slider-778px {
    position: absolute;
    left: 778px;
}
.left-slider-779px {
    position: absolute;
    left: 779px;
}
.left-slider-780px {
    position: absolute;
    left: 780px;
}
.left-slider-781px {
    position: absolute;
    left: 781px;
}
.left-slider-782px {
    position: absolute;
    left: 782px;
}
.left-slider-783px {
    position: absolute;
    left: 783px;
}
.left-slider-784px {
    position: absolute;
    left: 784px;
}
.left-slider-785px {
    position: absolute;
    left: 785px;
}
.left-slider-786px {
    position: absolute;
    left: 786px;
}
.left-slider-787px {
    position: absolute;
    left: 787px;
}
.left-slider-788px {
    position: absolute;
    left: 788px;
}
.left-slider-789px {
    position: absolute;
    left: 789px;
}
.left-slider-790px {
    position: absolute;
    left: 790px;
}
.left-slider-791px {
    position: absolute;
    left: 791px;
}
.left-slider-792px {
    position: absolute;
    left: 792px;
}
.left-slider-793px {
    position: absolute;
    left: 793px;
}
.left-slider-794px {
    position: absolute;
    left: 794px;
}
.left-slider-795px {
    position: absolute;
    left: 795px;
}
.left-slider-796px {
    position: absolute;
    left: 796px;
}
.left-slider-797px {
    position: absolute;
    left: 797px;
}
.left-slider-798px {
    position: absolute;
    left: 798px;
}
.left-slider-799px {
    position: absolute;
    left: 799px;
}
.left-slider-800px {
    position: absolute;
    left: 800px;
}
.left-slider-801px {
    position: absolute;
    left: 801px;
}
.left-slider-802px {
    position: absolute;
    left: 802px;
}
.left-slider-803px {
    position: absolute;
    left: 803px;
}
.left-slider-804px {
    position: absolute;
    left: 804px;
}
.left-slider-805px {
    position: absolute;
    left: 805px;
}
.left-slider-806px {
    position: absolute;
    left: 806px;
}
.left-slider-807px {
    position: absolute;
    left: 807px;
}
.left-slider-808px {
    position: absolute;
    left: 808px;
}
.left-slider-809px {
    position: absolute;
    left: 809px;
}
.left-slider-810px {
    position: absolute;
    left: 810px;
}
.left-slider-811px {
    position: absolute;
    left: 811px;
}
.left-slider-812px {
    position: absolute;
    left: 812px;
}
.left-slider-813px {
    position: absolute;
    left: 813px;
}
.left-slider-814px {
    position: absolute;
    left: 814px;
}
.left-slider-815px {
    position: absolute;
    left: 815px;
}
.left-slider-816px {
    position: absolute;
    left: 816px;
}
.left-slider-817px {
    position: absolute;
    left: 817px;
}
.left-slider-818px {
    position: absolute;
    left: 818px;
}
.left-slider-819px {
    position: absolute;
    left: 819px;
}
.left-slider-820px {
    position: absolute;
    left: 820px;
}
.left-slider-821px {
    position: absolute;
    left: 821px;
}
.left-slider-822px {
    position: absolute;
    left: 822px;
}
.left-slider-823px {
    position: absolute;
    left: 823px;
}
.left-slider-824px {
    position: absolute;
    left: 824px;
}
.left-slider-825px {
    position: absolute;
    left: 825px;
}
.left-slider-826px {
    position: absolute;
    left: 826px;
}
.left-slider-827px {
    position: absolute;
    left: 827px;
}
.left-slider-828px {
    position: absolute;
    left: 828px;
}
.left-slider-829px {
    position: absolute;
    left: 829px;
}
.left-slider-830px {
    position: absolute;
    left: 830px;
}
.left-slider-831px {
    position: absolute;
    left: 831px;
}
.left-slider-832px {
    position: absolute;
    left: 832px;
}
.left-slider-833px {
    position: absolute;
    left: 833px;
}
.left-slider-834px {
    position: absolute;
    left: 834px;
}
.left-slider-835px {
    position: absolute;
    left: 835px;
}
.left-slider-836px {
    position: absolute;
    left: 836px;
}
.left-slider-837px {
    position: absolute;
    left: 837px;
}
.left-slider-838px {
    position: absolute;
    left: 838px;
}
.left-slider-839px {
    position: absolute;
    left: 839px;
}
.left-slider-840px {
    position: absolute;
    left: 840px;
}
.left-slider-841px {
    position: absolute;
    left: 841px;
}
.left-slider-842px {
    position: absolute;
    left: 842px;
}
.left-slider-843px {
    position: absolute;
    left: 843px;
}
.left-slider-844px {
    position: absolute;
    left: 844px;
}
.left-slider-845px {
    position: absolute;
    left: 845px;
}
.left-slider-846px {
    position: absolute;
    left: 846px;
}
.left-slider-847px {
    position: absolute;
    left: 847px;
}
.left-slider-848px {
    position: absolute;
    left: 848px;
}
.left-slider-849px {
    position: absolute;
    left: 849px;
}
.left-slider-850px {
    position: absolute;
    left: 850px;
}
.left-slider-851px {
    position: absolute;
    left: 851px;
}
.left-slider-852px {
    position: absolute;
    left: 852px;
}
.left-slider-853px {
    position: absolute;
    left: 853px;
}
.left-slider-854px {
    position: absolute;
    left: 854px;
}
.left-slider-855px {
    position: absolute;
    left: 855px;
}
.left-slider-856px {
    position: absolute;
    left: 856px;
}
.left-slider-857px {
    position: absolute;
    left: 857px;
}
.left-slider-858px {
    position: absolute;
    left: 858px;
}
.left-slider-859px {
    position: absolute;
    left: 859px;
}
.left-slider-860px {
    position: absolute;
    left: 860px;
}
.left-slider-861px {
    position: absolute;
    left: 861px;
}
.left-slider-862px {
    position: absolute;
    left: 862px;
}
.left-slider-863px {
    position: absolute;
    left: 863px;
}
.left-slider-864px {
    position: absolute;
    left: 864px;
}
.left-slider-865px {
    position: absolute;
    left: 865px;
}
.left-slider-866px {
    position: absolute;
    left: 866px;
}
.left-slider-867px {
    position: absolute;
    left: 867px;
}
.left-slider-868px {
    position: absolute;
    left: 868px;
}
.left-slider-869px {
    position: absolute;
    left: 869px;
}
.left-slider-870px {
    position: absolute;
    left: 870px;
}
.left-slider-871px {
    position: absolute;
    left: 871px;
}
.left-slider-872px {
    position: absolute;
    left: 872px;
}
.left-slider-873px {
    position: absolute;
    left: 873px;
}
.left-slider-874px {
    position: absolute;
    left: 874px;
}
.left-slider-875px {
    position: absolute;
    left: 875px;
}
.left-slider-876px {
    position: absolute;
    left: 876px;
}
.left-slider-877px {
    position: absolute;
    left: 877px;
}
.left-slider-878px {
    position: absolute;
    left: 878px;
}
.left-slider-879px {
    position: absolute;
    left: 879px;
}
.left-slider-880px {
    position: absolute;
    left: 880px;
}
.left-slider-881px {
    position: absolute;
    left: 881px;
}
.left-slider-882px {
    position: absolute;
    left: 882px;
}
.left-slider-883px {
    position: absolute;
    left: 883px;
}
.left-slider-884px {
    position: absolute;
    left: 884px;
}
.left-slider-885px {
    position: absolute;
    left: 885px;
}
.left-slider-886px {
    position: absolute;
    left: 886px;
}
.left-slider-887px {
    position: absolute;
    left: 887px;
}
.left-slider-888px {
    position: absolute;
    left: 888px;
}
.left-slider-889px {
    position: absolute;
    left: 889px;
}
.left-slider-890px {
    position: absolute;
    left: 890px;
}
.left-slider-891px {
    position: absolute;
    left: 891px;
}
.left-slider-892px {
    position: absolute;
    left: 892px;
}
.left-slider-893px {
    position: absolute;
    left: 893px;
}
.left-slider-894px {
    position: absolute;
    left: 894px;
}
.left-slider-895px {
    position: absolute;
    left: 895px;
}
.left-slider-896px {
    position: absolute;
    left: 896px;
}
.left-slider-897px {
    position: absolute;
    left: 897px;
}
.left-slider-898px {
    position: absolute;
    left: 898px;
}
.left-slider-899px {
    position: absolute;
    left: 899px;
}
.left-slider-900px {
    position: absolute;
    left: 900px;
}
.left-slider-901px {
    position: absolute;
    left: 901px;
}
.left-slider-902px {
    position: absolute;
    left: 902px;
}
.left-slider-903px {
    position: absolute;
    left: 903px;
}
.left-slider-904px {
    position: absolute;
    left: 904px;
}
.left-slider-905px {
    position: absolute;
    left: 905px;
}
.left-slider-906px {
    position: absolute;
    left: 906px;
}
.left-slider-907px {
    position: absolute;
    left: 907px;
}
.left-slider-908px {
    position: absolute;
    left: 908px;
}
.left-slider-909px {
    position: absolute;
    left: 909px;
}
.left-slider-910px {
    position: absolute;
    left: 910px;
}
.left-slider-911px {
    position: absolute;
    left: 911px;
}
.left-slider-912px {
    position: absolute;
    left: 912px;
}
.left-slider-913px {
    position: absolute;
    left: 913px;
}
.left-slider-914px {
    position: absolute;
    left: 914px;
}
.left-slider-915px {
    position: absolute;
    left: 915px;
}
.left-slider-916px {
    position: absolute;
    left: 916px;
}
.left-slider-917px {
    position: absolute;
    left: 917px;
}
.left-slider-918px {
    position: absolute;
    left: 918px;
}
.left-slider-919px {
    position: absolute;
    left: 919px;
}
.left-slider-920px {
    position: absolute;
    left: 920px;
}
.left-slider-921px {
    position: absolute;
    left: 921px;
}
.left-slider-922px {
    position: absolute;
    left: 922px;
}
.left-slider-923px {
    position: absolute;
    left: 923px;
}
.left-slider-924px {
    position: absolute;
    left: 924px;
}
.left-slider-925px {
    position: absolute;
    left: 925px;
}
.left-slider-926px {
    position: absolute;
    left: 926px;
}
.left-slider-927px {
    position: absolute;
    left: 927px;
}
.left-slider-928px {
    position: absolute;
    left: 928px;
}
.left-slider-929px {
    position: absolute;
    left: 929px;
}
.left-slider-930px {
    position: absolute;
    left: 930px;
}
.left-slider-931px {
    position: absolute;
    left: 931px;
}
.left-slider-932px {
    position: absolute;
    left: 932px;
}
.left-slider-933px {
    position: absolute;
    left: 933px;
}
.left-slider-934px {
    position: absolute;
    left: 934px;
}
.left-slider-935px {
    position: absolute;
    left: 935px;
}
.left-slider-936px {
    position: absolute;
    left: 936px;
}
.left-slider-937px {
    position: absolute;
    left: 937px;
}
.left-slider-938px {
    position: absolute;
    left: 938px;
}
.left-slider-939px {
    position: absolute;
    left: 939px;
}
.left-slider-940px {
    position: absolute;
    left: 940px;
}
.left-slider-941px {
    position: absolute;
    left: 941px;
}
.left-slider-942px {
    position: absolute;
    left: 942px;
}
.left-slider-943px {
    position: absolute;
    left: 943px;
}
.left-slider-944px {
    position: absolute;
    left: 944px;
}
.left-slider-945px {
    position: absolute;
    left: 945px;
}
.left-slider-946px {
    position: absolute;
    left: 946px;
}
.left-slider-947px {
    position: absolute;
    left: 947px;
}
.left-slider-948px {
    position: absolute;
    left: 948px;
}
.left-slider-949px {
    position: absolute;
    left: 949px;
}
.left-slider-950px {
    position: absolute;
    left: 950px;
}
.left-slider-951px {
    position: absolute;
    left: 951px;
}
.left-slider-952px {
    position: absolute;
    left: 952px;
}
.left-slider-953px {
    position: absolute;
    left: 953px;
}
.left-slider-954px {
    position: absolute;
    left: 954px;
}
.left-slider-955px {
    position: absolute;
    left: 955px;
}
.left-slider-956px {
    position: absolute;
    left: 956px;
}
.left-slider-957px {
    position: absolute;
    left: 957px;
}
.left-slider-958px {
    position: absolute;
    left: 958px;
}
.left-slider-959px {
    position: absolute;
    left: 959px;
}
.left-slider-960px {
    position: absolute;
    left: 960px;
}
.left-slider-961px {
    position: absolute;
    left: 961px;
}
.left-slider-962px {
    position: absolute;
    left: 962px;
}
.left-slider-963px {
    position: absolute;
    left: 963px;
}
.left-slider-964px {
    position: absolute;
    left: 964px;
}
.left-slider-965px {
    position: absolute;
    left: 965px;
}
.left-slider-966px {
    position: absolute;
    left: 966px;
}
.left-slider-967px {
    position: absolute;
    left: 967px;
}
.left-slider-968px {
    position: absolute;
    left: 968px;
}
.left-slider-969px {
    position: absolute;
    left: 969px;
}
.left-slider-970px {
    position: absolute;
    left: 970px;
}
.left-slider-971px {
    position: absolute;
    left: 971px;
}
.left-slider-972px {
    position: absolute;
    left: 972px;
}
.left-slider-973px {
    position: absolute;
    left: 973px;
}
.left-slider-974px {
    position: absolute;
    left: 974px;
}
.left-slider-975px {
    position: absolute;
    left: 975px;
}
.left-slider-976px {
    position: absolute;
    left: 976px;
}
.left-slider-977px {
    position: absolute;
    left: 977px;
}
.left-slider-978px {
    position: absolute;
    left: 978px;
}
.left-slider-979px {
    position: absolute;
    left: 979px;
}
.left-slider-980px {
    position: absolute;
    left: 980px;
}
.left-slider-981px {
    position: absolute;
    left: 981px;
}
.left-slider-982px {
    position: absolute;
    left: 982px;
}
.left-slider-983px {
    position: absolute;
    left: 983px;
}
.left-slider-984px {
    position: absolute;
    left: 984px;
}
.left-slider-985px {
    position: absolute;
    left: 985px;
}
.left-slider-986px {
    position: absolute;
    left: 986px;
}
.left-slider-987px {
    position: absolute;
    left: 987px;
}
.left-slider-988px {
    position: absolute;
    left: 988px;
}
.left-slider-989px {
    position: absolute;
    left: 989px;
}
.left-slider-990px {
    position: absolute;
    left: 990px;
}
.left-slider-991px {
    position: absolute;
    left: 991px;
}
.left-slider-992px {
    position: absolute;
    left: 992px;
}
.left-slider-993px {
    position: absolute;
    left: 993px;
}
.left-slider-994px {
    position: absolute;
    left: 994px;
}
.left-slider-995px {
    position: absolute;
    left: 995px;
}
.left-slider-996px {
    position: absolute;
    left: 996px;
}
.left-slider-997px {
    position: absolute;
    left: 997px;
}
.left-slider-998px {
    position: absolute;
    left: 998px;
}
.left-slider-999px {
    position: absolute;
    left: 999px;
}
.left-slider-1000px {
    position: absolute;
    left: 1000px;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-center {
    left: 0;
    right: 0;
    margin: auto;
}
