.fill {
  width: 100vw;
  height: 100vh;
}

.cover-img {
  height: 60%;
  object-fit: cover;
}

.circle {
  border-radius: 50%;
}

@for $i from 1 through 100 {
  .mtop-#{$i} {
    position: absolute !important;
    top: #{$i * 1%} !important;
  }
}

@for $i from 1 through 100 {
  .mleft-#{$i} {
    position: absolute !important;
    left: #{$i * 1%} !important;
  }
}

@for $i from 1 through 100 {
  .height-#{$i} {
    height: #{$i * 1%} !important;
  }
}
